<!doctype>
<head>
	<title>Pytania</title>
	<link rel='stylesheet' href='main.css'>
</head>
<body>
	<div>
		<button @click='settings = !settings'>{{ settings ? 'questioner' : 'Ustawienia'}}</button>
		<button v-show='focus != null' @click='focus = null'>Wszystkie grupy</button>
	</div>

	<div v-show='false'>
		<div class='export'>
			<p> export  </p>
			<span> {{ questionsJson }} </span>
		</div>
	</div>

	<div v-show='focus == null && settings'>
		<input placeholder='Nazwa grupy' v-model='newGroup' @keydown.enter='addGroup'>
		<button @click='addGroup'>Dodaj grupę</button>
		<ul>
			<li track-by='$index' v-for='group in groups' class='question'>
				<span>{{ $index | questionNumber }}</span>
				<input v-model='group.name'>
				<button @click='changeGroup($index)'> Pytania ({{ group.questions.length }}) </button>
				<button @click='removeGroup($index)'>X</button>
			</li>
		</ul>
	</div>

	<div id='settings' v-show='focus != null && settings'>
		<h1> {{ focus != null&&groups[focus].name }} </h1>
		<input placeholder='Pytanie' v-model='newQuestion' @keydown.enter='addQuestion'>
		<button @click='addQuestion'>Dodaj pytanie</button>
		<ul>
			<li track-by="$index" v-for='question in questions' class='question'>
				<span>{{ $index | questionNumber }}</span>
				<input v-model='question'>
				<button @click='removeQuestion($index)'>X</button>
			</li>
		</ul>
	</div>

	<div v-show='!settings' class='cont' id='drawLotsCont'>

		<ul v-show='focus == null'>
			<li track-by='$index' v-for='group in groups' class='question'>
				<button @click='changeGroup($index)'> <h3> {{ group.name }} </h3> </button>
			</li>
		</ul>

		<h1 v-show='!questions.length && focus != null '> Brak pytań</h1>
		<div id='drawLots' v-show='questions.length'>
			<div>
				<h1 id='groupName'>{{ focus ? groups[focus].name : '' }}</h1>
				<h1>{{ randomQuestion != null ? questions[randomQuestion] : 'losuj' }}</h1>
			</div>

			<div>
				<button @click='drawLots'>Losuj pytanie</button>
				{{ randomQuestion | questionNumber }}
			</div>
		</div>
	</div>

	<script src='vue.js'></script>
	<script src='main.js'></script>
</body>
